body {
    margin: auto;
}

a {
   color:aquamarine;
   font-weight: bold;
}

header {
    color: cadetblue;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 5px, 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
 header img {
     height: 80px;
     width: auto;
     padding-right: 10px;
 }

/*<---------- Heading ----------->*/
.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading h1 {
    font-size: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 0px;
}

/*<---------------- Adding Comments------------->*/

h1 {
    font-style: 2em;
    font-family: 'Lucida Sans';
}

h2 {
    font-style: 1.8em;
    font-family: 'Lucida Sans';
}

h3 {
    font-style: 1.5em;
    font-family: 'Lucida Sans';
}

h4 {
    text-decoration: underline;
    font-family:Verdana, Tahoma, sans-serif;
}

.section_head {
    text-align: center;
    color:cornflowerblue;
}

.contents {
    display: block;
    margin: 12px auto;
    border: 1px, gainsboro;
    padding: 15px;
    background-color: grey;
    color: whitesmoke;
    font-style: italic;
}

main {
    margin: auto;
}

    .motto {
        font-style: italic;
        font-size: 1em;
        letter-spacing: 1pt;
        color: black;
    }

nav {
    margin: auto;
    background-color:blanchedalmond;
    border-radius: 15px;
}

nav ul li a.active {
    background-color:blanchedalmond;
}

.nav_bar {
    list-style: none;
    text-align: center;
    padding: 0%;
}

.nav ul li:first-child{
    display: block;
}

.nav_bar li {
    display: none;
}

.nav_bar a{
    display: block;
    padding: 0.75rem;
    text-align: center;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.nav_bar a:hover {
    color:blanchedalmond;
    background-color: cyan;
}

.responsive li {
    display: block;
}

p {
    font-family:monospace;
    font-size: 1px;
    font-weight: bold;
    color:black;
}

footer {
    background-color: whitesmoke;
    color: black;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding-top: 10px;
    border-radius: 15px;
}

#copyright {
    font-family: fantasy;
}

#lastUpdate {
    font-size: 1.0em;
    font-family: fantasy;
    padding-top: 5px;
}