/* WDD 230 - Assignment Portal */

body {
    font-size: 14px;
    line-height: 32px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
}

h1 {
    font-size: 13px;
    color: black;
}

h2{
    font-size: 12px;

}