/* WDD 230 - Assignment Portal */
@import url("https://fonts.googleapis.com/css2?font-family: 'PT Sans', sans-serif;")

body {
    font-size: 14px;
    line-height: 32px;
    font-family: font-family: 'PT Sans', sans-serif;;
    color: black;
}

h1 {
    font-size: 30px;
    color: black;
}

h2{
    font-size: 20px;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

/*header---------------> */

header, main, footer {
    margin: 1.25rem auto;
    padding: .5px;
    max-width: 800px;
}

img {
    max-width: 100%;
}

header {
    text-align: center;
    background-color: rgb(131, 247, 255);
    color: black;
}

header img {
    width: 120px;
    height: auto;
    float: right;
    box-shadow: 5px 5px 5px #999;
}

/* -----------------------------------------------*/
#content {
    max-width: 960px;
    margin: 0 auto;
    /*   background-color:#ffffff; */
  }
  
  .img{
    grid-column: 4/6;
    grid-row: 1/4;
    border: 1px solid #ccc;
    padding: 5px;
    box-shadow: 5px 5px 5px #999;
  }


/* Footer ---------------------->*/

footer {
    font-size: 12px;
    text-align: center;
    background-color: rgb(131, 247, 255);
    color: black;
    margin: 1.25rem auto;
    padding: .5px;
    max-width: 800px;
}

footer a{
    text-align: center;
    color: rgb(23, 0, 235);
}